 #goInBall {
width: 30%;
height: 30%;
margin-left: auto;
margin-right: auto;
/* visibility: hidden; */
}

#hips {
width: 30%;
height: 30%;
margin-left: auto;
margin-right: auto;
/* visibility: hidden; */
}

#cmon {
width: 30%;
height: 30%;
margin-left: auto;
margin-right: auto;
/* visibility: hidden; */
}

#enough {
width: 30%;
height: 30%;
margin-left: auto;
margin-right: auto;
/* visibility: hidden; */
}

#hex-color {
  visibility: hidden;
}


body {
    font-family: 'Lato';
    margin-top: 200px;
    text-align: center;
    color: white;
  }
  
  #clock {
    font-weight: 300;
    font-size: 100px;
  }
