 #goInBall {
width: 30%;
height: 30%;
margin-left: auto;
margin-right: auto;
/* visibility: hidden; */
}

#hips {
width: 30%;
height: 30%;
margin-left: auto;
margin-right: auto;
/* visibility: hidden; */
}

#cmon {
width: 30%;
height: 30%;
margin-left: auto;
margin-right: auto;
/* visibility: hidden; */
}

#enough {
width: 30%;
height: 30%;
margin-left: auto;
margin-right: auto;
/* visibility: hidden; */
}

#hex-color {
  visibility: hidden;
}


body {
    font-family: 'Lato';
    margin-top: 200px;
    text-align: center;
    color: white;
  }
  
  #clock {
    font-weight: 300;
    font-size: 100px;
  }

  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D; /* Red */
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; /* Yellow */
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #B2D6FF; /* Blue */
  }
}