 #goInBall {
width: 30%;
height: 30%;
/* visibility: hidden; */
}

#seeYa {
width: 30%;
height: 30%;
visibility: hidden;
}

#cmon {
width: 30%;
height: 30%;
visibility: hidden;
}

#enough {
width: 30%;
height: 30%;
visibility: hidden;
}


body {
    font-family: 'Lato';
    margin-top: 200px;
    text-align: center;
    color: white;
  }
  
  #clock {
    font-weight: 300;
    font-size: 100px;
  }
